body, html {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1.5;
}

h1 {
  background-color: #196751;
  border: 5px solid #2e856e;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 2em;
  text-align: center;
}

nav ul {
  align-items: stretch;
  display: inline-flex;
  justify-content: space-around;
  max-width: 100vw;
  position: fixed;
  top: 0;
}

li a {
  color: #196751;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  min-width: 100vw;
  text-align: center;
}

nav a {
  opacity: 0;
}

nav a:hover {
  color: #196751;
  opacity: 1;
}

h2 {
  background-color: #196751;
  color: #ffffff;
  flex: 1 1;
  font-size: 1.5rem;
  text-align: center;
}

.imgBoxes {
  display: flex;
  justify-content: center;
}

.imgDesc {
  border: 5px solid #259a7a;
  flex: 1 1 100vw;
  max-width: 320px;
  padding: 10px;
}

ul.genInfo {
  flex: 1 1 100vw;
}

h3 {
  background-color: #196751;
  color: #ffffff;
  flex: 1 1 100vw;
  font-size: 1rem;
  text-align: center;
}

.ingredienTable {
  display: flex;
  justify-content: center;
}

.ingredients {
  text-align: left;
}

table p {
  border-collapse: collapse;
  border-style: none;
  padding-right: 2em;
  text-align: left;
}

.ingredients tr:nth-child(even) {
  background-color: #259A7A;
}

.dress {
  margin-left: 5em;
}

.stepIntro {
  margin-left: 1em;
}

.genInfo {
  background-color: white;
  color: #259a7a;
  list-style-type: none;
  text-align: center;
}

.step {
  list-style-type: lower-alpha;
}